snippet bash "begin{minted}{bash} / end{minted}" bi
\begin{minted}{bash}
	${0:${VISUAL}}
\end{minted}
endsnippet

snippet minted "minted" bi
\begin{minted}{${1:python}}
	${0:${VISUAL}}
\end{minted}
endsnippet


